.buyDialog.isHidden {
  display: none;
}

.button {
  cursor: default;
}


/* No need to modify the CSS below. */
body {
  margin: 0;
  padding-bottom: 100px;
  font-family: sans-serif;
}

h1, h2 {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: white;
  border-bottom: solid 1px #d0d0d0;
  height: 80px;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 0 48px;
}

.siteTitle {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.mainContent {
  background-color: #F3F3F3;
  flex-shrink: 1;
  flex-grow: 1;
  overflow: auto;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

h3 {
  color: #757575;
  margin: 4px 0 16px;
  font-size: 16px;
  font-weight: normal;
}

.orderFormSection {
  margin: 24px 48px;
}

.image {
  height: 300px;
  width: 300px;
}

.imageContainer {
  background: white;
  display: inline-flex;
  flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 16px;
    margin: 0 32px 24px 0;
}

.imageContainer:hover,
.imageContainer:focus {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  outline: none;
}

.imageLabel {
  margin: 16px 0;
}

.orderFormItemsContainer {
  display: flex;
  flex-wrap: wrap;
}

.button {
  font-size: 16px;
  border-radius: 8px;
  margin: 4px;
  padding: 8px 16px;
  color: white;
  background-color: blue;
}

.saleLabel {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: rgba(255, 0, 0, 0.75);
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
}

.buyDialog {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyDialogContent {
  background: white;
  padding: 20px;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}

.dialogCloseButton {
  background: none;
  border: none;
  display: flex;
  margin-left: auto;
  flex-shrink: 0;
}

.dialogCloseButton svg {
  fill: #757575;
  height: 16px;
  width: 16px;
}

.inputRow {
  text-transform: uppercase;
  font-size: 12px;
  color: #757575;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin-top: 8px;
}

.submitButton {
  margin: 16px 0;
  display: inline-flex;
  flex-shrink: 0;
}

.pagebody {
  padding-bottom: 120px;
}


.tabs {
  width: 20em;
  font-family: "lucida grande", sans-serif;
}

.tablist {
  margin: 0 0 -.1em;
  overflow: visible;
}

.tab {
  position: relative;
  margin: 0;
  padding: .3em .5em .4em;
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: .2em .2em 0 0;
  box-shadow: 0 0 .2em hsl(219, 1%, 72%);
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  background: hsl(220, 20%, 94%);
}

.tab:hover::before,
.tab:focus::before,
.tab.selected::before {
  position: absolute;
  bottom: 100%;
  right: -1px;
  left: -1px;
  border-radius: 0.2em 0.2em 0 0;
  border-top: 3px solid hsl(20, 96%, 48%);
  content: '';
}

.tab.selected {
  border-radius: 0;
  background: hsl(220, 43%, 99%);
  outline: 0;
}

.tab.selected:not(:focus):not(:hover)::before {
  border-top: 5px solid hsl(218, 96%, 48%);
}

.tab.selected::after {
  position: absolute;
  z-index: 3;
  bottom: -1px;
  right: 0;
  left: 0;
  height: .3em;
  background: hsl(220, 43%, 99%);
  box-shadow: none;
  content: '';
}

.tab:hover,
.tab:focus,
.tab:active {
  outline: 0;
  border-radius: 0;
  color: inherit;
}

.tab:hover::before,
.tab:focus::before {
  border-color: hsl(20, 96%, 48%);
}

.tabpanel {
  position: relative;
  z-index: 2;
  padding: .5em .5em .7em;
  border: 1px solid hsl(219, 1%, 72%);
  border-radius: 0 .2em .2em .2em;
  box-shadow: 0 0 .2em hsl(219, 1%, 72%);
  background: hsl(220, 43%, 99%);

}

.tabpanel:focus {
  border-color: hsl(20, 96%, 48%);
  box-shadow: 0 0 .2em hsl(20, 96%, 48%);
  outline: 0;
}

.tabpanel:focus::after {
  position: absolute;
  bottom: 0;
  right: -1px;
  left: -1px;
  border-bottom: 3px solid hsl(20, 96%, 48%);
  border-radius: 0 0 0.2em 0.2em;
  content: '';
}

.tabpanel p {
  margin: 0;
}

.tabpanel * + p {
  margin-top: 1em;
}